<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{#if htmlWebpackPlugin.options.info.title}}
      <title>{{ htmlWebpackPlugin.options.info.title }}</title>
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if htmlWebpackPlugin.options.info.url}}
      <link rel="canonical" href="{{ htmlWebpackPlugin.options.info.url }}" />
    {{/if}}
    {{#if htmlWebpackPlugin.options.info.description}}
      <meta name="description" content="{{ htmlWebpackPlugin.options.info.description }}" />
    {{/if}}
    {{#if htmlWebpackPlugin.options.info.url}}
      <meta property="og:url" content="{{ htmlWebpackPlugin.options.info.url }}" />
    {{/if}}
    {{#if htmlWebpackPlugin.options.info.title}}
      <meta property="og:title" content="{{ htmlWebpackPlugin.options.info.title }}" />
    {{/if}}
    {{#if htmlWebpackPlugin.options.info.site_name}}
      <meta property="og:site_name" content="{{ htmlWebpackPlugin.options.info.site_name }}" />
    {{/if}}
    {{#if htmlWebpackPlugin.options.info.type}}
      <meta property="og:type" content="{{ htmlWebpackPlugin.options.info.type }}" />
    {{/if}}
    {{#if htmlWebpackPlugin.options.info.description}}
      <meta property="og:description" content="{{ htmlWebpackPlugin.options.info.description }}" />
    {{/if}}
    {{#if htmlWebpackPlugin.options.info.title}}
      <meta name="DC.Title" lang="es" content="{{ htmlWebpackPlugin.options.info.title }}" />
    {{/if}}
    {{#if htmlWebpackPlugin.options.info.description}}
      <meta name="DC.Description" lang="es" content="{{ htmlWebpackPlugin.options.info.description }}" />
    {{/if}}
    {{#if htmlWebpackPlugin.options.info.title}}
      <meta name="DC.Author" content="{{ htmlWebpackPlugin.options.info.title }}" />
    {{/if}}
    {{#if htmlWebpackPlugin.options.info.title}}
      <meta name="DC.Creator" content="{{ htmlWebpackPlugin.options.info.title }}" />
    {{/if}}
    <meta name="DC.Language" scheme="RFC1766" content="es" />
    <meta name="DC.format" scheme="IMT" content="text/html" />
  </head>
  <body>
    {{#> content}}
    {{/content}}
    {{#if htmlWebpackPlugin.options.info.analytics}}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ htmlWebpackPlugin.options.info.analytics }}']);
        _gaq.push(['_trackPageview']);
        (function () {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {{/if}}
  </body>
</html>
